@import "images";

@font-face {
    font-family: 'droid';
    src: url('../fonts/DroidSans-webfont.eot');
    src: url('../fonts/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DroidSans-webfont.woff') format('woff'),
         url('../fonts/DroidSans-webfont.ttf') format('truetype'),
         url('../fonts/DroidSans-webfont.svg#dejavu_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.__read {
	position: fixed;
	display: none;
	@include box-sizing(border-box);
	top: 0;
	left: 0;
	width: 100%;
	max-height: 50px;
	padding: 0;
	margin: 0;
	text-align: left;
	z-index: 2147483647;
	color: #000;
	@include transition-property(max-height);
	@include transition-duration(0.5s);
	// @include transition-timing-function(ease-in);
	overflow: hidden;

	* {
		@include box-sizing(border-box);
	}

	&.open { max-height: 500px; }

	.__read_bar {
		width: 100%;
		height: 50px;
		margin: 0;
		padding: 0;
		@include background-image(linear-gradient(top, white 60%, #EEE));
		overflow: hidden;

		.__read_position {

			position: relative;
			@include box-sizing(border-box);
			width: 500px;
			height: 50px;
			margin: 0 auto;
			line-height: 30px;

			.__read_indicator {
				position: absolute;
				@include box-sizing(border-box);
				display: block;
				width: 2px;
				height: 40px;
				top: 5px;
				left: 220px;
				background-color: rgba(150,150,150,.2);
			}

			.__read_display {
				position: absolute;
				@include box-sizing(border-box);
				padding: 10px 10px 10px 221px;
				width: 300px;
				font-family: 'droid', serif;
				font-size: 30px;
				cursor: pointer;
			}

			.__read_before,
			.__read_letter {
				@extend .__read_display;
				padding: 0;
				top: -99em;
			}
		}

		.__read_config {
			position: absolute;
			top: 0;
			left: 8px;
			width: 30px;
			height: 47px;
			margin: 0;
			padding: 0;
			font-size: 36px;
			line-height: 36px;
			opacity: 0.1;
			cursor: pointer;
			&.active, &:hover { opacity: 0.4; }
		}

		.__read_restart {
			position: absolute;
			top: 0;
			left: 45px;
			width: 30px;
			height: 47px;
			padding: 0;
			margin: 0;
			font-size: 37px;
			line-height: 37px;
			opacity: 0.1;
			cursor: pointer;
			&.active, &:hover { opacity: 0.4; }
		}

		.__read_close_read {
			position: absolute;
			top: 0;
			right: 10px;
			width: 40px;
			height: 47px;
			padding: 0;
			margin: 0;
			line-height: 36px;
			font-size: 30px;
			opacity: 0.1;
			cursor: pointer;
			&:hover { opacity: 0.4; }
		}
	}

	.__read_settings {
		position: relative;
		top: 0;
		width: 100%;
		height: auto;
		text-align: center;
		@include background-image(linear-gradient(top, #E7E7E7, #E3E3E3));
		border-bottom: 2px solid #CCC;
		z-index: 10;

		.__read_setting {
			position: relative;
			display: inline-block;
			height: 60px;
			width: 200px;
			margin: 0 40px 10px 0;
			@include box-sizing(border-box);
			font-family: 'droid', serif;
			label {
				&.__read_label {
					position: absolute;
					top: 10px;
					left: 10px;
					font-size: 13px;
				}
			}

			input {
				&.__read_input {
					position: absolute;
					top: 30px;
					left: 8px;
					text-align: center;
					width: 60px;
					height: 30px;
					font-size: 16px;
					margin: 0;
					@include border-radius(8px);
					@include box-shadow(inset 0 0 8px rgba(0,0,0,0.3));
					border: none;
					&:focus {
						outline: none;
						border: 1px solid $color;
						@include border-radius(8px);
					}
				}
			}

			.__read_slider {
				position: absolute;
				top: 39px;
				left: 75px;
				width: 150px;
				height: 10px;
			}
		}
	}
}
