.__read {
	position: fixed;
	display: none;
	@include box-sizing(border-box);
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	padding: 0;
	margin: 0;
	z-index: 999999;
	cursor: pointer;
	color: #000;
	-webkit-transition:all ease-in-out 0.4s;
    transition:all ease-in-out 0.4s;
	overflow: hidden;

	* {
		@include box-sizing(border-box);
	}

	&.open { height: 300px; }

	.__read_bar {
		width: 100%;
		height: 50px;
		margin: 0;
		padding: 0;
		@include background-image(linear-gradient(top, white 60%, #EEE));
		overflow: hidden;

		.__read_position {

			position: relative;
			@include box-sizing(border-box);
			width: 500px;
			height: 50px;
			margin: 0 auto;
			line-height: 30px;

			.__read_indicator {
				position: absolute;
				@include box-sizing(border-box);
				display: block;
				width: 2px;
				height: 40px;
				top: 5px;
				left: 220px;
				background-color: rgba(150,150,150,.2);
			}

			.__read_display {
				position: absolute;
				@include box-sizing(border-box);
				padding: 10px 10px 10px 221px;
				width: 300px;
				font-family: 'Droid Serif', serif;
				font-size: 30px;
			}

			.__read_before,
			.__read_letter {
				@extend .__read_display;
				padding: 0;
			}
		}

		.__read_config {
			position: absolute;
			top: 5px;
			left: 8px;
			width: 30px;
			height: 47px;
			margin: 0;
			padding: 0;
			font-size: 36px;
			line-height: 36px;
			opacity: 0.1;
			&.active, &:hover { opacity: 0.4; }
		}

		.__read_restart {
			position: absolute;
			top: 6px;
			left: 38px;
			width: 50px;
			height: 47px;
			padding: 0;
			margin: 0;
			font-size: 30px;
			line-height: 37px;
			opacity: 0.1;
			&.active, &:hover { opacity: 0.4; }
		}

		.__read_close_read {
			position: absolute;
			top: 5px;
			right: 5px;
			width: 30px;
			height: 47px;
			padding: 0;
			margin: 0;
			line-height: 36px;
			font-size: 30px;
			opacity: 0.1;
			&:hover { opacity: 0.4; }
		}
	}

	.__read_settings {
		position: absolute;
		top: 50px;
		width: 100%;
		height: 250px;
		background-color: #c6d6dc;
		z-index: 10;


		.__read_setting_common {
			display: block;
			position: absolute;
			@include box-sizing(border-box);
			font-family: 'Droid Serif', serif;
			font-size: 14px;
		}

		.__read_setting {
			top: 0;
			left: 0;
			width: 200px;
			height: 80px;
			&.__read_wpm {
				@extend .__read_setting_common;
				top: 10px;
				left: 10px;
			}
			&.__read_slowstart {
				@extend .__read_setting_common;
				top: 90px;
				left: 10px;
			}
			&.__read_sentencedelay {
				@extend .__read_setting_common;
				top: 170px;
				left: 10px;
			}
			label {
				@extend .__read_setting_common;
				left: 10px;
			}
			input {
				@extend .__read_setting_common;
				top: 20px;
				left: 10px;
				text-align: center;
				width: 100px;
				height: 40px;
				font-size: 24px;
				margin: 0;
			}
			.__read_slider {
				@extend .__read_setting_common;
				top: 32px;
				left: 125px;
				width: 350px;
				height: 18px;
			}
		}
	}
}
