// Compass definitions
@import "compass";
@import "progrecss";
@import "nouislider";
@import "read";

body { 
	padding: 0;
	margin: 0;
}

.wrapper {
	position: relative;
	@include box-sizing(border-box);
	width: 500px;
	margin: 0 auto;

	.input {
		position: absolute;
		@include box-sizing(border-box);
		top: 20px;
		left: 0;
		width: 500px;

		textarea {
			@include box-sizing(border-box);
			font-family: 'Droid Serif', serif;
			font-size: 12px;
			width: 500px;
			height: 300px;
		}
	}
}
