// Compass definitions
@import "compass";
@import "compass/reset";

.wrapper { 
	position: relative;
	@include box-sizing(border-box);
	width: 500px;
	height: 50px;
	margin: 0 auto;
}

.indicator {
	position: absolute;
	@include box-sizing(border-box);
	display: block;
	width: 2px;
	height: 40px;
	top: 5px;
	left: 220px;
	background-color: rgba(150,150,150,.2);
}

.display {
	position: absolute;
	@include box-sizing(border-box);
	padding: 10px 10px 10px 215px;
	width: 300px;
	font-family: 'Droid Serif', serif;
	font-size: 30px;

	&.index1 {
		margin-left: -12px;
	}

	&.index2 {
		margin-left: -24px;
	}

	&.index3 {
		margin-left: -38px;
	}

	&.index4 {
		margin-left: -52px;
	}

	&.index5 {
		margin-left: -66px;
	}
}

.input {
	position: absolute;
	top: 150px;
	left: 10px;
	width: 500px;

	textarea {
		font-family: 'Droid Serif', serif;
		font-size: 12px;
		width: 450px;
		height: 200px;
	}
}
